<div id="<%= dom_id game %>">

  <p>
    <% if game.image.attached?%>
      <%= image_tag(game.image, style: "width: 200px") %>
    <%end%>
  </p>

  <p>
    <%= game.name %>
  </p>

  <p div="description">
    <%= game.description %>
  </p>

</div>
